{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Register
{% endblock %}

{% block main %}
<div class="card border-primary m-auto mb-3" style="max-width: 30rem">
  <div class="card-header text-center">Register</div>

  <div class="card-body">
    <form id="register-form" method="post" class="m-auto mb-2">
      {% csrf_token %}
      {{ form|crispy }}
       
       <!-- form.first_name|as_crispy_field 
       form.last_name|as_crispy_field 
       form.password1|as_crispy_field 
      <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
       form.password2|as_crispy_field  -->

      <button id="register-btn" 
        class="form-control btn btn-primary" 
        type="submit" 
        name="REGISTER" 
        alt="Register your email address to sign up">REGISTER</button>
    </form>
  </div>
  
  <div class="card-footer">
    Already have an account? <a href="{% url 'account_login' %}">Log in</a>
  </div>
</div>
{% endblock %}