html, body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

body {
  padding-bottom: 50px;
}
  
footer {
  border-top: 1px solid darkgreen;
}

header {
  border-bottom: 1px solid darkgreen;
}

/* FORM STYLES */
label, legend {
  font-variant: small-caps;
  font-size: 1rem;
}

.form-check {
  display: inline-block;
  font-weight: normal;
  margin: 0 1rem;
}

td#created-cell {
  font-size: 0.85rem;
}

td#edit-cell a {
  text-decoration: none;
}

.createdby-label {
  font-weight: bold;
}