{% extends "_base.html" %}

{% block title %}
  Jokes
{% endblock %}

{% block main %}
  <h1>Jokes</h1>
  <ul class="list-group list-group-flush mb-3">
    {% for joke in joke_list %}
      <li class="list-group-item">
      <!-- In the url tag below, `joke.pk` holds the primary key for the joke, 
       which it will use to construct the URL. 
       Think of a tag as a fcn with ea. subsequent item being an argument passed to that fcn. 
       So, the following url tag ...  -->
       <a id="{{joke.id}}" href="{% url 'jokes:detail' joke.pk %}">{{ joke.question }}</a>
       <!-- …becomes: `url('joke', joke.pk)` -->
      </li>
    {% endfor %}
  </ul>
  <!-- ABOVE FOR LOOP
       --------------
       The double curly braces hold a template variable (or expression) that should be evaluated. 
       This FOR loop is the Django template equivalent of python's:
       
          for joke in Joke.objects.all():
                print(f'\n    <li class="list-group-item">{joke.question}</li>\n') 
    -->
{% endblock %}