{% extends "_base.html" %}

{% block title %}
Jokes
{% endblock %}

{% block main %}
<a id="add-joke-btn" class="btn btn-success btn-sm float-end" href="{% url 'jokes:create' %}">
  + New Joke
</a>

<h1>Jokes</h1>

<div class="table-responsive">
  <table id="jokes-list-tbl" class="table table-striped" style="min-width: 500px">
    <thead>
      <tr>
        <th>Joke Set Up</th>
        <th>Category/Tags</th>
        {% if joke.user == user %}
          <th>Actions</th>
        {% else %}
          <th>Created</th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for joke in joke_list %}
      <tr>
        <td>
          <a id="joke-{{joke.id}}" href="{{ joke.get_absolute_url }}">{{ joke.question }}</a>
        </td>
        <td>
          <span id="joke-{{joke.id}}-category">{{ joke.category.category }}</span>
          <br />
          {% for tag in joke.tags.all %}
            <span id="joke-{{joke.id}}-tag-{{tag.id}}" 
              class="badge rounded-pill bg-secondary">{{ tag.tag }}</span>
          {% endfor %}
        </td>
        {% if joke.user == user %}
          <td id="edit-cell">
            <a id="update-joke-{{joke.id}}-btn" href="{% url 'jokes:update' joke.slug %}" 
              name="Update" alt="Update joke">
              <i class="fas fa-pencil-alt"></i>
            </a>
            &nbsp;
            <a id="delete-joke-{{joke.id}}-btn" href="{% url 'jokes:delete' joke.slug %}" 
              name="Delete" alt="Delete joke">
              <i class="far fa-trash-alt"></i>
            </a>
          </td>
        {% else %}
          <td id="created-cell">
            <span id="joke-{{joke.id}}-createdby"><span class="createdby-label">By:</span> 
            {{ joke.user.username }}</span>
            <br />
            <span id="joke-{{joke.id}}-created"><span class="createdby-label">On:</span> 
            {{ joke.created|date:'SHORT_DATE_FORMAT' }}</span>
            <br />
            <span id="joke-{{joke.id}}-updated"><span class="createdby-label">Updated:</span><br/> 
            {{ joke.updated|date:'SHORT_DATE_FORMAT' }}</span>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}