{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Add/Update Joke
{% endblock %}

{% block main %}
<div class="card border-primary m-auto mb-3 p-3" style="max-width: 30rem">
  <!-- The template must include a form element, and the method must be “post”. -->
  <form method="post">
    <!-- Within the form element, you must include these 3 items: -->
    {% csrf_token %} <!-- 1. csrf_token template tag – This is a security measure that protects against
     cross site request forgery. -->
    
    {{ form|crispy }}

     <!-- <table id="joke-form-tbl" class="table">
      {{ form.as_table }} 
     2. A form interpolated variable to output the form fields and their labels.
     </table> -->
    <button id="submit-joke-btn" class="btn btn-success float-end" type="submit">
      Submit
    </button><!-- 3. A submit button -->
  </form>
</div>
{% endblock %}